.pageContainer {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    color: var(--brown);
    font-family: var(--font-upheaval);
}

/* BACKGROUND */
.pageContainer::before {
    content: '';
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
    
    background-color: var(--blue);
    background-image: repeating-linear-gradient(
        45deg, 
        var(--blue2), 
        var(--blue2) 20px, 
        var(--blue) 20px, 
        var(--blue) 40px
    );
    
    animation: bganim linear 3s infinite;
    will-change: transform;
    z-index: -1;
}

@keyframes bganim {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(-56.57px, 56.57px, 0); }
}