
@keyframes circle-wipe {
  0% {
    clip-path: circle(0% at var(--click-x) var(--click-y));
  }
  100% {
    clip-path: circle(150% at var(--click-x) var(--click-y));
  }
}

@keyframes clicked-item-fade {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.animate-circle-wipe {
  animation: circle-wipe 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.animate-item-fade {
  animation: clicked-item-fade 0.4s ease-in-out forwards;
}




/* COLORS 

:root {
  --background: #100b27;
  --foreground: #fff;
  --yellow: #f5d151;
  --blue: #76bcff;
  --pink: #ff9f9f;
  --brown: #120c08;
}

*/

.background-about {
   background: repeating-linear-gradient(
			45deg,
			var(--yellow2) 25%,
			var(--yellow2) 50%,
			var(--yellow) 50%,
			var(--yellow) 75%
		);
	background-size: 110px 110px;
  background-position: right;
  background-attachment: fixed;
}

.background-contacts {
 background: repeating-linear-gradient(
			45deg,
			var(--pink2) 25%,
			var(--pink2) 50%,
			var(--pink) 50%,
			var(--pink) 75%
		);
	background-size: 110px 110px;
  background-position: right;
  background-attachment: fixed;

}

.background-projects {
  background: repeating-linear-gradient(
			45deg,
			var(--blue2) 25%,
			var(--blue2) 50%,
			var(--blue) 50%,
			var(--blue) 75%
		);
	background-size: 110px 110px;
  background-position: right;
  background-attachment: fixed;
}

.background-space {
  background: linear-gradient(#100b27b3, #100b27b3), repeat url('/images/space.png'), var(--background);
  background-size: 441px 243px;
  background-attachment: fixed;
}