@import "tailwindcss";

:root {
  --background: #100b27;
  --foreground: #fff;
  --yellow: #f5d151;
  --blue: #76bcff;
  --pink: #ff9f9f;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #100b27;
    --foreground: #fff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* BACKGROUNDS */
.background-space {
image-rendering: pixelated;
  background: linear-gradient(#100b27b3, #100b27b3), repeat url('/images/space.png'), var(--background);
  background-size: 441px 243px;
  animation: bganim linear 10s infinite;
  background-attachment: fixed;
}

@keyframes bganim{
  from {background-position: 0px 0px}
  to {background-position: -441px -243px}
}



/* CUSTOM FONTS */
@theme {
  --font-upheaval: 'Upheaval', sans-serif;
}

@font-face{
  font-family: 'Upheaval';
  src: url('/fonts/upheaval.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}